.card {
  box-sizing: border-box;
  border-radius: 5px;
  width: 110px;
  height: 150px;
  position: absolute;
  z-index: 5;
  overflow: hidden;
  background-size: cover;
  text-align: center;
  transition: transform 0.1s ease;
}

.card.dragging {
  z-index: 999;
}

.card[data-rank="1"] { background-image: url("../assets/game/A.png"); }
.card[data-rank="2"] { background-image: url("../assets/game/2.png"); }
.card[data-rank="3"] { background-image: url("../assets/game/3.png"); }
.card[data-rank="4"] { background-image: url("../assets/game/4.png"); }
.card[data-rank="5"] { background-image: url("../assets/game/5.png"); }
.card[data-rank="6"] { background-image: url("../assets/game/6.png"); }
.card[data-rank="7"] { background-image: url("../assets/game/7.png"); }
.card[data-rank="8"] { background-image: url("../assets/game/8.png"); }
.card[data-rank="9"] { background-image: url("../assets/game/9.png"); }
.card[data-rank="10"] { background-image: url("../assets/game/10.png"); }
.card[data-rank="11"] { background-image: url("../assets/game/J.png"); }
.card[data-rank="12"] { background-image: url("../assets/game/Q.png"); }
.card[data-rank="13"] { background-image: url("../assets/game/K.png"); }
.card[data-isdown="true"] { background-image: url("../assets/game/cardBack.png"); }

.card[data-index="0"] { top: 0px; }
.card[data-index="1"] { top: 30px; }
.card[data-index="2"] { top: 60px; }
.card[data-index="3"] { top: 90px; }
.card[data-index="4"] { top: 120px; }
.card[data-index="5"] { top: 150px; }
.card[data-index="6"] { top: 180px; }
.card[data-index="7"] { top: 210px; }
.card[data-index="8"] { top: 240px; }
.card[data-index="9"] { top: 270px; }
.card[data-index="10"] { top: 300px; }
.card[data-index="11"] { top: 330px; }
.card[data-index="12"] { top: 360px; }
.card[data-index="13"] { top: 390px; }
.card[data-index="14"] { top: 420px; }
.card[data-index="15"] { top: 450px; }
.card[data-index="16"] { top: 480px; }
.card[data-index="17"] { top: 510px; }
.card[data-index="18"] { top: 540px; }
.card[data-index="19"] { top: 570px; }
.card[data-index="20"] { top: 600px; }